<section class="warper">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="collapse navbar-collapse" id="conteudoNavbarSuportado">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Fornecedores
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="/fornecedores_editar">Cadastrar</a>
                        <a class="dropdown-item" href="/fornecedores_listar">Consultar</a>
                        <div class="dropdown-divider"></div>
                        <p class="dropdown-item">Para edição realize a consulta primeiro.</p>
                    </div>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Clientes
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="/clientes_editar">Cadastrar</a>
                        <a class="dropdown-item" href="/clientes_editar">Consultar</a>
                        <div class="dropdown-divider"></div>
                        <p class="dropdown-item">Para edição realize a consulta primeiro.</p>
                    </div>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Produtos
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="/produtos_editar">Cadastrar</a>
                        <a class="dropdown-item" href="/produtos_listar">Consultar</a>
                        <div class="dropdown-divider"></div>
                        <p class="dropdown-item">Para edição realize a consulta primeiro.</p>
                    </div>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Compras
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="/compras_cadastrar">Cadastrar</a>
                        <a class="dropdown-item" href="/compras_listar">Consultar</a>
                        <div class="dropdown-divider"></div>
                        <p class="dropdown-item">Para edição realize a consulta primeiro.</p>
                    </div>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Vendas
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="/vendas_cadastrar">Cadastrar</a>
                        <a class="dropdown-item" href="/ventas_listar">Consultar</a>
                        <div class="dropdown-divider"></div>
                        <p class="dropdown-item">Para edição realize a consulta primeiro.</p>
                    </div>
                </li>
                
            </ul>
        </div>
    </nav>
</section>